<div class="flex flex-col w-full h-full relative justify-center">
    <div class="w-full h-full absolute">
        <div
            class="m-auto lg:w-[992px] md:w-[768px] sm:w-[576px] xl:w-[1200px] pt-8 items-center uppercase flex flex-row text-white space-x-3 justify-center text-2xl w-full cursor-pointer">
            <img src="../assets/logo_head.svg" class="w-[200px]" alt="">
            <div class="hover:bg-slate-100 p-3 rounded-lg">Home</div>
            <div>|</div>
            <a href="#section1">Road map</a>
            <div>|</div>
            <a href="#section2">About Us</a>
            <div>|</div>
            <a href="#section3">Dev Team</a>
            <div>|</div>
            <a href="#section4">Contact</a>
            <div>|</div>
            <a href="#section5">White Paper</a>
        </div>
    </div>
    <img src="../assets/banner_bg.jpg" alt="">
    <!-- <img src="../assets/bg.jpg" alt=""> -->
    <div class="bg-gradient-to-b from-[#011620] via-[#041A3B] to-[#150815]">
        <div class="m-auto lg:w-[992px] md:w-[768px] sm:w-[576px] xl:w-[1200px]">
        <section id="section1">
            <div class="flex flex-col justify-center relative items-center mt-4">
                <div class="w-full text-white text-center text-[60px] uppercase bg-gradient-to-r from-[#011620] via-[#ffffff] to-[#011620]"> road map </div>
                <img src="../assets/Road_map.jpg" class="h-full" alt="">
            </div>
        </section>
        <section id="section2">
            <div class="flex flex-col space-y-10 justify-center relative items-center mt-4 text-white">

                <div class="text-center w-full text-[60px] uppercase bg-gradient-to-r from-[#011620] via-[#ffffff] to-[#011620]"> trust - safe -speed </div>
                <div class="text-2xl">In our second edition of the Guide to Trust & Safety, we tackle the complex
                    challenge of measuring the trust and safety of your online platform. From ensuring visibility to
                    ensuring policy enforcement, we make it simple to implement valuable metrics.</div>
                <div class="text-lg">In the first part of our Guide to Trust & Safety, we share the four functions
                    needed to build a trust and safety team. However, building a team isn’t enough. Trust & Safety must
                    be managed, and a key component of that is evaluating its effectiveness and ensuring constant
                    improvement. There are many factors to consider when measuring a Trust & Safety operation, ranging
                    from hard metrics of enforcement rates, speed to action, and threat coverage, to the perception of
                    your platform’s work, its fairness, and sincerity. Here we take you through the key questions that
                    you should use to assess your team and build its priorities.
                </div>
            </div>
        </section>
        <section id="section3">
            <div class="flex flex-col space-y-10 justify-center relative items-center mt-4 text-white">
                <div class="text-center w-full text-[60px] uppercase bg-gradient-to-r from-[#011620] via-[#ffffff] to-[#011620]"> dev team </div>
            </div>
        </section>
    </div>
    </div>
</div>